*{
    margin:0px;
     padding: 0px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  }
  
  .sidenav {
    width: 230px;
    height: 400px;
    position: fixed;
    z-index: 1;
    background: #e44f2e;
    overflow-x: hidden;
    padding: 100px 20px 15px 5px;
  }
  .nav-texts{
    padding: 6px 8px 6px 16px;
    color: #ffffff;
    display: block;
  }
  .sidenav a {
    padding: 6px 8px 6px 10px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
  }
  
  .sidenav a:hover {
    color: #44505b;
  }
  
  .main {
    margin-left: 300px; 
    margin-right: 50px;
    font-size: 28px; 
    padding: 40px 10px;
  }
  .orange-text{
    color: #e44f2e;
  }
  .orange-line{
    margin-top: 10px;
    border: 2px solid #e44f2e;
    width: 50px;
    height: 10px;
   background-color: #e44f2e;
    border-radius: 6px;;
  }


.showcase-images{
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px 5px;
  width: 100%;
  padding-top: 30px;
  }

.service{
    margin-left: 300px; 
    margin-right: 50px;
    font-size: 28px; 
    padding: 40px 10px;
  
}

.designers{
    margin-left: 300px; 
    margin-right: 50px;
    font-size: 28px; 
    padding: 40px 10px;
}
.text{
    font-size: 20px;
     text-align: justify; 
}
.card {
    background-color: rgb(248, 242, 242);
    max-width: 350px;
    margin: auto;
    text-align: left;
    font-family: arial;
  }
  
  .position {
    color: grey;
    font-size: 15px;
  }
  .card-combine{
    display: flex;
    gap: 5px;
  }
.card-text{
   
    padding-left: 20px;
    padding-bottom: 20px;
}
.Package{
  margin-left: 300px;
  margin-right: 50px; 
    font-size: 28px; 
    /* padding: 20px 10px; */
}
.packageCard{
  display: flex;
  gap: 10px;
}
.package-container1{
  width: 560px;
  height: 700px;
  text-align: center;
 
}
.Basic{
  background-color: #4b4b4b;
  color: #ffffff;
  padding: 30px;
 
}
.pricing {
  display: flex;
  flex-direction: column;
    align-items: center;
  gap: 10px;
  /* margin: 10px 0; */
}

.price-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}
.price-wrapper button {
  background-color: #e5dfdf;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
.offer{
  background-color: #e5dfdf;
  padding: 15px;
  
}
.sign-up{
  width: 90px;
  height: 35px;
  padding: 0;
border: none;
color: #1a1919;
background: none;
background-color: #ffffff;
}
.sign-up2{
  width: 90px;
  height: 35px;
  padding: 0;
border: none;
color: #ffffff;
background: none;
background-color: #e44f2e;
}
.package-container2{
  width: 560px;
  height: 700px;
  text-align: center;
  
}
.Pro{
  background-color: #e44f2e;
  color: #ffffff;
  padding: 30px;
 
}
.Contact{
  margin-left: 300px;
  margin-right: 50px; 
    font-size: 28px; 
    padding-bottom: 30px;
    
} 
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  width: 100%;
  height: 40px;
  background-color: #e44f2e;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}
